<table>
  <thead>
    <tr>
      <th width="300">Title</th>
      <th width="800">Article</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <% if current_user %>
          <td><%= link_to article.title, "/articles/#{article.id}" %> | <%= article.created_at %></td>
        <% else %>
          <td><%= article.title (article.created_at) %></td>
        <% end %>
        <td><%= truncate(article.body, length: 250) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


