<form>
   <div class="row">
    <div class="large-4 columns">
      <label>Article Title</label>
      <textarea placeholder="Article"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Article Body</label>
      <textarea placeholder="Article"></textarea>
    </div>
  </div>
  <a href="#" class="button">Default Button</a>
</form>
